* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$blackColor: #1e1e1e;
$whiteColor: #fafafa;

body {
  background-color: $blackColor;
}
h1 {
  color: $whiteColor;
}

.white-text {
  color: $whiteColor;
  font-size: 18px; 
}

.row {
  display: flex;
  flex-direction: row;
  width: 1400px;
}

.width-65 {
  width: 65%;
}
.width-35 {
  width: 35%;
}

img {
  height: auto;
  width: 35%;
}
// mobile
@media(max-width:767px){
  .white-text{
    font-size: 16px;
  }

  .width-65 {
    width: 100%;
  }

  .width-35 {
    width: 100%;
  }

  .row {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    
  }
  img {
    height: auto;
    width: 100%;
  }
}
// tablet
@media(max-width:990px){}
// big screens
@media(min-width:990px){}